body {
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, #c33764, #1d2671);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.02em;
}